.error {
    display: flex;
    flex-direction: column;
    padding: 38% 20% 38% 25%;
    h1 {
        font-size: 50px;
        color: #fe6e14;
        padding-bottom: 4%;
    }
    &-para {
        color: white;
        padding-bottom: 3%;
        width: 150%;
    }
    &-return {
        &-link {
            display: flex;
            align-items: center;
            text-decoration: white;
            &-arrow {
                height: 20px;
            }
        }
        &-para {
            padding-left: 5%;
            p {
                color: white;
                color: #fe6e14;
                font-weight: 500;
                border-bottom: .1px solid #fe6e14;
            }
        }
        &-dame {
            height: 200px;
            padding-top: 3%;
        }
    }
}