.formSignup {
    display: flex;
    flex-direction: column;
    @include media(desktop) {
        width: 50vw;
        float: right;
    }
    &-titre {
        color: white;
        text-align: center;
        padding: 10% 0 10% 0;
        @include media(tablet) {
            font-size: 30px;
            padding: 10% 0 10% 0;
        }
    }
    &-divLigne1 {
        display: flex;
        justify-content: center;
        padding-bottom: 10%;
    }
    &-divLigne2 {
        display: flex;
        justify-content: center !important;
        padding-top: 10%;
    }
    &-ligne1,
    &-ligne2 {
        width: 85%;
    }
    &-formGen {
        display: flex;
        flex-direction: column;
    }
    &-input1,
    &-input2,
    &-input3,
    &-input4,
    &-input5,
    &-input6 {
        display: flex;
        justify-content: center;
        padding-bottom: 4%;
        input {
            width: 80vw;
            height: 4vh;
            background-color: black;
            color: #fe6e14;
            border: none;
            border-bottom: 1px solid white;
            @include media(tablet) {
                font-size: 20px;
            }
            @include media(desktop) {
                width: 40vw;
            }
            &::placeholder {
                color: #fe6e14;
                @include media(tablet) {
                    font-size: 18px;
                }
            }
        }
        select {
            width: 80vw;
            height: 4vh;
            background-color: black;
            color: #fe6e14;
            border: none;
            border-bottom: 1px solid white;
            @include media(tablet) {
                font-size: 20px;
            }
            @include media(desktop) {
                width: 40vw;
                font-size: 18px;
            }
        }
    }
    &-label {
        padding-left: 10%;
        font-weight: 600;
        font-size: 15px;
        color: white;
        @include media(tablet) {
            font-size: 20px;
        }
    }
    &-error {
        border-radius: 3px;
        margin: 0 auto;
        width: 80%;
        padding: 0.5% 0;
        color: rgba(255, 0, 0, 0.877);
        text-align: center;
        @include media(tablet) {
            font-size: 20px;
        }
    }
    &-buttonDiv {
        display: flex;
        justify-content: center;
        padding-top: 4%;
        &-button {
            background: #fe6e14;
            border-radius: 40px;
            height: 4vh;
            width: 38vw;
            border: none;
            color: white;
            font-weight: bold;
            font-size: 16px;
            &:hover {
                cursor: pointer;
            }
            @include media(tablet) {
                font-size: 20px;
            }
            @include media(desktop) {
                width: 20vw;
            }
        }
    }
    &-inputDate {
        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator {
            -webkit-appearance: none;
            position: absolute;
            right: 0;
            opacity: 0;
        }
        &::before {
            content: attr(placeholder) "";
            white-space: pre;
        }
        &:focus::before {
            content: " " !important;
        }
        @include media(tablet) {
            font-size: 17px;
        }
    }
    &-paraFinal {
        color: white;
        text-align: center;
        padding: 8% 0 30% 0;
        @include media(tablet) {
            padding: 8% 0 20% 0;
        }
        @include media(desktop) {
            padding: 8% 0 10% 0;
        }
        p {
            padding-bottom: 3%;
            font-weight: bold;
            @include media(tablet) {
                font-size: 20px;
            }
        }
        button {
            background: white;
            border-radius: 40px;
            height: 4vh;
            width: 50vw;
            border: none;
            font-weight: bold;
            font-size: 15px;
            &:hover {
                cursor: pointer;
            }
            @include media(tablet) {
                font-size: 20px;
            }
            @include media(desktop) {
                width: 27vw;
            }
        }
    }
}