.formSignup {
    display: flex;
    flex-direction: column;
    &-titre {
        color: white;
        text-align: center;
        padding: 10% 0 10% 0;
    }
    &-divLigne1 {
        display: flex;
        justify-content: center;
        padding-bottom: 10%;
    }
    &-divLigne2 {
        display: flex;
        justify-content: center !important;
        padding-top: 10%;
    }
    &-ligne1,
    &-ligne2 {
        width: 85%;
    }
    &-formGen {
        display: flex;
        flex-direction: column;
    }
    &-input1,
    &-input2,
    &-input3,
    &-input4,
    &-input5,
    &-input6 {
        display: flex;
        justify-content: center;
        input {
            width: 80vw;
            height: 4vh;
            background-color: black;
            color: #8E8E8E;
            border: none;
            border-bottom: 1px solid white;
        }
        select {
            width: 80vw;
            height: 4vh;
            background-color: black;
            color: #8E8E8E;
            border: none;
            border-bottom: 1px solid white;
        }
    }
    &-input1,
    &-input2,
    &-input3,
    &-input4,
    &-input5,
    &-input6 {
        padding-bottom: 4%;
    }
    &-label {
        padding-left: 10%;
        font-weight: 600;
        font-size: 15px;
    }
    &-buttonDiv {
        display: flex;
        justify-content: center;
        padding-top: 1%;
        &-button {
            background: #FE6E14;
            border-radius: 40px;
            height: 4vh;
            width: 38vw;
            border: none;
            color: white;
            font-weight: bold;
            font-size: 16px;
        }
    }
    &-inputDate {
        &::before {
            content: attr(placeholder) '';
            white-space: pre;
        }
        &:focus::before {
            content: ' ' !important;
        }
    }
    &-divIcon {
        display: flex;
        justify-content: flex-end;
        padding: 8% 10% 20% 0;
        &-imgIcon {
            padding-right: 3%;
        }
    }
}