.formSignin {
    display: flex;
    flex-direction: column;
    &-titre {
        color: white;
        text-align: center;
        padding: 10% 0 10% 0;
    }
    &-divLigne1 {
        display: flex;
        justify-content: center;
        padding-bottom: 10%;
    }
    &-divLigne2 {
        display: flex;
        justify-content: center !important;
        padding-top: 10%;
    }
    &-ligne1,
    &-ligne2 {
        width: 85%;
    }
    &-formGen {
        display: flex;
        flex-direction: column;
    }
    &-input1,
    &-input2 {
        display: flex;
        justify-content: center;
        input {
            width: 80vw;
            height: 4vh;
            background-color: black;
            color: #fe6e14;
            border: none;
            border-bottom: 1px solid white;
            &::placeholder {
                color: #fe6e14;
            }
        }
    }
    &-input1,
    &-input2 {
        padding-bottom: 4%;
    }
    &-label {
        padding-left: 10%;
        font-weight: 600;
        font-size: 15px;
    }
    &-buttonDiv {
        display: flex;
        justify-content: center;
        padding-top: 1%;
        &-button {
            background: #fe6e14;
            border-radius: 40px;
            height: 4vh;
            width: 38vw;
            border: none;
            color: white;
            font-weight: bold;
            font-size: 16px;
        }
    }
    &-paraFinal {
        color: white;
        text-align: center;
        padding-top: 8%;
        p {
            padding-bottom: 3%;
            font-weight: bold;
        }
        button {
            background: white;
            border-radius: 40px;
            height: 4vh;
            width: 50vw;
            border: none;
            font-weight: bold;
            font-size: 15px;
        }
    }
    &-divIcon {
        display: flex;
        justify-content: flex-end;
        padding: 8% 10% 25% 0;
        &-imgIcon {
            padding-right: 3%;
        }
    }
}