.all {
    display: none;
    @include media(desktop) {
        display: flex;
    }
    &-footer {
        width: 50vw;
        &-div {
            background-color: #141414;
            padding: 5% 5% 3% 5%;
            display: flex;
            justify-content: space-between;
            &-div1 {
                h5 {
                    color: #fe6e14;
                    padding-bottom: 3%;
                }
                p {
                    color: white;
                    line-height: 1.3;
                }
            }
        }
        &-div2 {
            text-align: center;
            color: white;
            background-color: #141414;
            padding-bottom: 2%;
            span {
                color: #fe6e14;
            }
        }
    }
}