.navBarGeneral {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100vw;
    background-color: #f0f0f0;
    @include media(desktop) {
        background-color: #141414;
        width: 50%;
        top: 0;
        right: 0;
        max-height: 12%;
        padding-top: 1%;
    }
    &-home {
        padding: 2% 0 1% 0;
        &-link {
            text-decoration: none;
            color: black;
            @include media(tablet) {
                font-size: 20px;
            }
            @include media(desktop) {
                display: flex;
                align-items: center;
                color: white;
                font-size: 1.3rem;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background: #fe6e14;
                    transition: width 500ms ease;
                }
                &:hover:after {
                    width: 32%;
                }
                &:hover {
                    color: chocolate;
                }
            }
        }
        img {
            @include media(tablet) {
                height: 5vh;
            }
            @include media(desktop) {
                padding-right: 10%;
            }
        }
    }
    &-inscription {
        padding: 2% 0 1% 0;
        &-link {
            text-decoration: none;
            color: black;
            @include media(tablet) {
                font-size: 20px;
            }
            @include media(desktop) {
                display: flex;
                align-items: center;
                color: white;
                font-size: 1.3rem;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background: #fe6e14;
                    transition: width 500ms ease;
                }
                &:hover:after {
                    width: 65%;
                }
                &:hover {
                    color: chocolate;
                }
            }
            img {
                @include media(tablet) {
                    height: 5vh;
                }
                @include media(desktop) {
                    padding-right: 10%;
                }
            }
        }
    }
    &-profil {
        padding: 2% 0 1% 0;
        &-link {
            text-decoration: none;
            color: black;
            @include media(tablet) {
                font-size: 20px;
            }
            @include media(desktop) {
                display: flex;
                align-items: center;
                color: white;
                font-size: 1.3rem;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background: #fe6e14;
                    transition: width 500ms ease;
                }
                &:hover:after {
                    width: 65%;
                }
                &:hover {
                    color: chocolate;
                }
            }
            img {
                @include media(tablet) {
                    height: 5vh;
                }
                @include media(desktop) {
                    padding-right: 10%;
                }
            }
        }
    }
    &-connexion {
        padding: 2% 0 1% 0;
        &-link {
            text-decoration: none;
            color: black;
            @include media(tablet) {
                font-size: 20px;
            }
            @include media(desktop) {
                color: white;
                font-size: 1.3rem;
                display: flex;
                align-items: center;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background: #fe6e14;
                    transition: width 500ms ease;
                }
                &:hover:after {
                    width: 100%;
                }
                &:hover {
                    color: chocolate;
                }
            }
            img {
                @include media(tablet) {
                    height: 5vh;
                }
                @include media(desktop) {
                    padding-right: 10%;
                }
            }
        }
    }
}

.navSignup {
    color: white;
    display: flex;
    justify-content: center;
    &-title {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}