.return {
    padding: 5% 0 0 5%;
    @include media(desktop) {
        width: 50vw;
        padding-top: 17%;
    }
    &-imgArrow {
        @include media(tablet) {
            height: 3.5vh;
        }
    }
}

.navSignup {
    @include media(desktop) {
        width: 50vw;
    }
    @include media(desktop) {}
    h1 {
        @include media(tablet) {
            font-size: 40px;
        }
    }
    &-title {
        &-imgLeb {
            @include media(tablet) {
                height: 5vh;
            }
        }
    }
}