.updateUser {
    display: flex;
    flex-direction: column;
    &-close {
        width: 77vw;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 10%;
        p {
            &:hover {
                cursor: pointer;
            }
            @include media(tablet) {
                font-size: 25px;
            }
        }
    }
    &-errorUpdateUser {
        color: rgba(255, 0, 0, 0.877);
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    &-formGen {
        display: flex;
        flex-direction: column;
    }
    &-input1,
    &-input2,
    &-input3,
    &-input4,
    &-input5,
    &-input6 {
        display: flex;
        justify-content: center;
        padding-bottom: 4%;
        input {
            width: 75vw;
            height: 4vh;
            background-color: black;
            color: #fe6e14;
            border: none;
            border-bottom: 1px solid white;
            @include media(tablet) {
                font-size: 18px;
            }
            &::placeholder {
                color: #fe6e14;
            }
        }
    }
    &-label {
        font-weight: 600;
        font-size: 15px;
        color: white;
        @include media(tablet) {
            font-size: 20px;
        }
    }
}