.navBarLogin {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100vw;
    background-color: #f0f0f0;
    &-profil {
        padding: 2% 0 1% 0;
        &-link {
            text-decoration: none;
            color: black;
        }
    }
    &-product {
        padding: 2% 0 1% 0;
        &-link {
            text-decoration: none;
            color: black;
        }
    }
    &-deconnexion {
        padding: 2% 0 1% 0;
        &-link {
            text-decoration: none;
            color: black;
        }
    }
}