.inputSearch {
    display: flex;
    justify-content: center;
    padding-top: 8%;
    &-formSearch {
        display: flex;
        &-inputButton {
            display: flex;
            &-input {
                border-left: 3px solid black;
            }
            input {
                height: 7vh;
                width: 65vw;
                border: none;
                border-right: 2px solid black;
                font-size: 22px;
                border-radius: 20px 0 0 20px;
                padding-left: 5%;
                &::placeholder {
                    color: black;
                    font-size: 18px;
                }
            }
            button {
                border-radius: 0 20px 20px 0;
                height: 7vh;
                width: 12vw;
                border: none;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                .span {
                    font-size: 60px;
                }
            }
        }
    }
}