.categorie {
    display: flex;
    flex-wrap: wrap;
    padding: 10% 0 0 3.3%;
    @include media(desktop) {
        width: 50vw;
        justify-content: center;
    }
    h1 {
        color: white;
        padding-bottom: 2%;
        font-size: 22px;
        width: 100%;
        @include media(tablet) {
            font-size: 33px;
        }
    }
    .categorie-all {
        &-Informatique {
            min-height: 10vw;
            max-height: 50vw;
            position: relative;
            img {
                min-width: 95%;
                max-width: 45%;
                min-height: 30vw;
                max-height: 30vw;
                object-fit: cover;
                border-radius: 5px;
                background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1));
                @include media(desktop) {
                    min-height: 15vw;
                    margin-bottom: 3%;
                }
            }
            &-para {
                display: flex;
                justify-content: center;
                p {
                    position: absolute;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    bottom: 0;
                    text-shadow: 0 0 10px black;
                    padding-bottom: 2%;
                    @include media(tablet) {
                        font-size: 30px;
                    }
                    @include media(desktop) {
                        padding-bottom: 4%;
                    }
                }
            }
        }
        &-Voiture {
            min-height: 10vw;
            max-height: 50vw;
            position: relative;
            img {
                min-width: 95%;
                max-width: 45%;
                min-height: 30vw;
                max-height: 30vw;
                object-fit: cover;
                border-radius: 5px;
                background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1));
                @include media(desktop) {
                    min-height: 15vw;
                }
            }
            &-para {
                display: flex;
                justify-content: center;
                p {
                    position: absolute;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    bottom: 0;
                    text-shadow: 0 0 10px black;
                    padding-bottom: 2%;
                    @include media(tablet) {
                        font-size: 30px;
                    }
                }
            }
        }
        &-Ameublement {
            min-height: 10vw;
            max-height: 50vw;
            padding-top: 3%;
            position: relative;
            img {
                min-width: 95%;
                max-width: 45%;
                min-height: 30vw;
                max-height: 30vw;
                object-fit: cover;
                border-radius: 5px;
                background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1));
                @include media(desktop) {
                    min-height: 15vw;
                }
            }
            &-para {
                display: flex;
                justify-content: center;
                p {
                    position: absolute;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    bottom: 0;
                    text-shadow: 0 0 10px black;
                    padding-bottom: 2%;
                    @include media(tablet) {
                        font-size: 30px;
                    }
                }
            }
        }
        &-Immobilier {
            min-height: 10vw;
            max-height: 50vw;
            padding-top: 3%;
            position: relative;
            img {
                min-width: 95%;
                max-width: 45%;
                min-height: 30vw;
                max-height: 30vw;
                object-fit: cover;
                border-radius: 5px;
                background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 1));
                @include media(desktop) {
                    min-height: 15vw;
                }
            }
            &-para {
                display: flex;
                justify-content: center;
                p {
                    position: absolute;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    bottom: 0;
                    text-shadow: 0 0 10px black;
                    padding-bottom: 2%;
                    @include media(tablet) {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}